@model LoginForm

<div class="row">
    <div>
        <div class="text-danger">
            <partial name="_ValidationSummary" />
        </div>
    </div>
    <div class="col-md-6">

        <form asp-action="ActionName" asp-controller="ControllerName" method="post">
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Passwd"></label>
                <input asp-for="Passwd" type="password" class="form-control" />
                <span asp-validation-for="Passwd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

